:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --white: #f1f8f5;
  --whiterose: #faf4f0;
  --brown: #4e3626;
  --green: #089b65;
  --rose: #ff9298;
}
main {
  width: 80%;
  margin: auto;
}
h1 {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

main .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  /* background-color: #660505; */
  padding: 50px;
}

.connectinfo {
  margin-bottom: 20px;
  margin: auto;
  text-align: center;
}

main .content form {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: right;
  gap: 10px;
}

label {
  font-family: var(--textfont);
  font-size: 1.2rem;
}

.beignet-switch {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 25px;
}

.beignet-switch div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.content form .beignet-switch input {
  width: 30px;
  margin: 0;
}

.content form input {
  width: 60%;
}

.content .row {
  display: flex;
  width: 100%;
  gap: 20px;
}

.label-el {
  display: flex;
  flex-direction: column;
}

.content form select {
  appearance: none; /* retire la flèche native */
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: var(--whiterose); /* ton fond blanc */
  color: #4e3626; /* ou la couleur de ton texte */
  padding: 10px 40px 10px 15px; /* espace pour la nouvelle flèche */
  border-radius: 20px;
  font-family: var(--textfont);
  font-size: 1.2rem;
  font-weight: 400;
  width: 300px;
  border: 1px solid var(--rose);

  /* Chevron blanc personnalisé */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14'><polygon points='0,0 14,0 7,8' fill='black'/></svg>");

  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;
}

/* Pour IE/Edge */
.content form select::-ms-expand {
  display: none;
}

.content form select:hover {
  border-radius: 20px;
}

input,
textarea {
  border: 1px solid var(--rose);
  border-radius: 300px;
  width: 100%;
  height: 58px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  padding: 15px;
  font-family: var(--textfont);
}

input[type="radio"] {
  accent-color: var(--rose);
}

textarea {
  height: 120px;
  border-radius: 25px;
  resize: vertical;
}

.content form input[type="submit"] {
  width: fit-content;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;

  font-weight: 800;
}

form p {
  font-size: 1.4rem;
}

.input-object {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: solid 2px var(--textcolor);
  border-radius: 30px;
  width: 50%;
  padding: 20px;
  background-color: whitesmoke;
  transition: all ease 0.2s;
}

.input-object:hover {
  transform: translateY(-5px);
}

.fusion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.fusion img {
  height: 90px;
}

.fusion .imgbig {
  width: 120px; /* garde la taille souhaitée */
  height: 120px;
  object-fit: cover; /* remplit le cadre sans déformer */
  object-position: auto; /* zoom centré */
  transform: scale(2); /* facteur de zoom (augmente si besoin) */
  transform-origin: center;
}

@media (max-width: 768px) {
  .content .row {
    flex-direction: column;
    align-items: center;
  }

  .input-object {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 80%;
  }
}

.img-consutructor {
  position: relative;
  width: 100%;
  height: 400px;
}

.img-consutructor img {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
  width: 500px;
}

@media (max-width: 581px) {
  .img-consutructor {
    height: 250px;
  }
  .img-consutructor img {
    width: 300px;
  }

  .content form input {
    width: 100%;
  }
}
