:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --maincolor: #cbffbf;
  --textcolor: #660505;
}

.creer {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  margin: auto;
  margin-top: 20px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.creer .content {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  position: relative;
}

.content {
  border: 2px solid #660505;
  border-radius: 50px;
  margin: 30px;
  max-width: 1000px;
}

.connect {
  margin-bottom: 20px;
}

.content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

.lateral-barre {
  display: flex;
  justify-content: space-between;
  background-color: #cbffbf;
  align-items: center;
  position: fixed;
  bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  padding-bottom: 20px;
}

label {
  font-family: var(--mainfont);
  font-size: 1.3rem;
}

.content form input {
  width: 60%;
}

.content .row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.label-el {
  display: flex;
  flex-direction: column;
}

.content form select {
  appearance: none; /* retire la flèche native */
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: var(--textcolor); /* ton fond blanc */
  color: rgb(255, 255, 255); /* ou la couleur de ton texte */
  padding: 10px 40px 10px 15px; /* espace pour la nouvelle flèche */
  border-radius: 20px;
  font-family: var(--textfont);
  font-size: 1.2rem;
  font-weight: 100;

  /* Chevron blanc personnalisé */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14'><polygon points='0,0 14,0 7,8' fill='white'/></svg>");

  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;
}

.lateral-barre img {
  transition: opacity 0.25s ease;
}

/* Pour IE/Edge */
.content form select::-ms-expand {
  display: none;
}

.content form select:hover {
  border-radius: 20px;
}

input,
textarea {
  border: 2px solid #660505;
  border-radius: 300px;
  width: 100%;
  height: 58px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  padding: 15px;
}

textarea {
  height: 100px;
  border-radius: 25px;
}

.content form input[type="submit"] {
  width: fit-content;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  font-family: "Modak", system-ui;
  font-weight: 100 !important;
}

.input-object {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fusion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.fusion img {
  height: 90px;
}

.content form .alone {
  width: 40%;
}

.fusion .imgbig {
  width: 120px; /* garde la taille souhaitée */
  height: 120px;
  object-fit: cover; /* remplit le cadre sans déformer */
  object-position: auto; /* zoom centré */
  transform: scale(2); /* facteur de zoom (augmente si besoin) */
  transform-origin: center;
}

@media (max-width: 670px) {
  .content .row {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 80%;
  }
}
