.banner {
  height: 300px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(245, 245, 245, 1) 100%
    ),
    url("https://www.marketresearchintellect.com/images/blogs/best-doughnut-brands.webp");

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.base-content {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  padding: 60px;
}

.base-content .base-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-content .base-compo-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.base-content .base-compo-container h2 {
  margin: 0;
}
