:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --white: #f1f8f5;
  --whiterose: #faf4f0;
  --brown: #4e3626;
  --green: #089b65;
  --rose: #ff9298;
}

footer {
  background-color: var(--rose);
  color: var(--whiterose);
  font-family: var(--textfont);
  padding: 40px 20px 20px 20px;
  font-size: 0.9rem;
  margin-top: 50px;
}

footer a {
  color: var(--textcolor);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer h3 {
  font-family: var(--textfont);
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.footer-container {
  display: flex;
  gap: 30px;
}

.footer-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  padding: 15px 0;
  font-size: 0.85rem;
  border-top: 1px solid #66050533;
  margin-top: 20px;
}

@media (max-width: 1050px) {
  footer a {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer-container > div {
    flex-direction: column;
  }
}
