:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --white: #f1f8f5;
  --whiterose: #faf4f0;
  --brown: #4e3626;
  --green: #089b65;
  --rose: #ff9298;
}
/* STRUCTURE */
.header {
  position: relative;
  height: 120px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #089b65;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo-container {
  height: 100%;
  padding-right: 50px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  font-family: var(--mainfont);
}

/* ===== MEGA MENU ===== */
.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--white);
  padding: 20px;
  display: none;
  border-top: var(--green) solid 2px;
  z-index: 10;
}

.mega-menu ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
}

.mega-menu a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.donut-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.donut {
  height: 100%;
  cursor: pointer;
}

.donut-hover-zone {
  position: relative;
  width: 220px; /* englobe icônes + donut */
  height: 150px; /* égal au header */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.donut-icons {
  position: absolute;
  top: 20%;
  left: 29%;
  transform: translate(-50%, -50%); /* ✅ CENTRE EXACT DU DONUT */
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 200;
}

.donut-icons a {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1rem;
  z-index: 200;
  text-decoration: none;
  border: solid 2px var(--whiterose);
}

/* MILIEU GAUCHE */
.donut-icons a:nth-child(1) {
  background: var(--green);
  transform: rotate(-70deg) translateY(80px) rotate(70deg);
}

/* DIAGONALE BAS GAUCHE */
.donut-icons a:nth-child(2) {
  background: var(--brown);
  transform: rotate(-23deg) translateY(90px) rotate(23deg);
}

/* DIAGONALE BAS DROITE */
.donut-icons a:nth-child(3) {
  background: var(--rose);
  transform: rotate(23deg) translateY(90px) rotate(-23deg);
}

/* MILIEU DROIT */
.donut-icons a:nth-child(4) {
  background: rgb(230, 148, 6);
  transform: rotate(70deg) translateY(80px) rotate(-70deg);
}

/* DROITE */
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  font-weight: bold;
  text-decoration: none;
}
.donut-hover-zone:hover .donut-icons {
  opacity: 1;
  pointer-events: auto;
}

.rose {
  color: var(--rose);
}

.mega-menu ul li a {
  position: relative;
  padding-bottom: 6px;
}

/* la barre */
.mega-menu ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background: var(--green);
  transition: 0.3s ease;
  transform: translateX(-50%);
  border-radius: 2px;
}

/* hover */
.mega-menu ul li a:hover::after {
  width: 100%;
}
