:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --white: #f1f8f5;
  --whiterose: #faf4f0;
  --brown: #4e3626;
  --green: #089b65;
  --rose: #ff9298;
}
/* STRUCTURE */
.header {
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  height: 100%;
  padding-right: 50px;
  padding: 20px 40px;
}

.logo {
  font-size: 3rem;
  color: var(--green);
  cursor: pointer;
  font-family: var(--mainfont);
}

/* ===== MEGA MENU ===== */
.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--white);
  padding: 20px;
  display: none;
  border-top: var(--green) solid 2px;
  z-index: 10;
}

.mega-menu ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
}

.mega-menu a {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

.donut-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.donut {
  height: 100%;
  cursor: pointer;
}

.donut-hover-zone {
  position: relative;
  width: 220px; /* englobe icônes + donut */
  height: 150px; /* égal au header */
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-right: 50px;
}

.donut-icons {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-110%, -50%);
  width: 120px;
  height: 130px; /* IMPORTANT : < 150px */
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.donut-icons a {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  pointer-events: auto;
}

/* Haut gauche */
.donut-icons a:nth-child(1) {
  top: -2;
  right: -20px;
  background: var(--green);
}

/* Milieu haut gauche */
.donut-icons a:nth-child(2) {
  top: 50px;
  right: 20px;
  background: var(--brown);
}

/* bas bas gauche */
.donut-icons a:nth-child(3) {
  top: 96px;
  right: -20px;
  background: var(--rose);
}

/* DROITE */
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  font-weight: bold;
  text-decoration: none;
}
.donut-hover-zone:hover .donut-icons {
  opacity: 1;
  pointer-events: auto;
}

.rose {
  color: var(--rose);
}

.mega-menu ul li a {
  position: relative;
  padding-bottom: 6px;
}

/* la barre */
.mega-menu ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background: var(--green);
  transition: 0.3s ease;
  transform: translateX(-50%);
  border-radius: 2px;
}

/* hover */
.mega-menu ul li a:hover::after {
  width: 100%;
}
