:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --white: #f1f8f5;
  --whiterose: #faf4f0;
  --brown: #4e3626;
  --green: #089b65;
  --rose: #ff9298;
}
/* STRUCTURE */
header {
  position: absolute;
  top: 35px;
  left: 42%;
  transform: translateX(-50%);
  display: flex;
  width: 70%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--green);
  gap: 15px;
  border: var(--white) 2px solid;
  border-radius: 60px;
  z-index: 1000;
  text-align: center;
}

.noconnect {
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.logo {
  text-decoration: none;
}

header .nav {
  text-decoration: none;
  color: var(--whiterose);
  font-size: 1.1rem;
  font-weight: 600;
}

header .nav {
  position: relative;
  padding-bottom: 6px;
  padding-top: 6px;
}

/* la barre */
header .nav::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background: var(--rose);
  transition: 0.3s ease;
  transform: translateX(-50%);
  border-radius: 2px;
}

/* hover */
header .nav:hover::after {
  width: 100%;
}

.logo-container {
  height: 100%;
  position: absolute;
  padding-right: 50px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: var(--mainfont);
}

.donut-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
}

.donut {
  height: 100%;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.donut:hover {
  transform: rotate(180deg);
}

.donut-hover-zone {
  position: relative;
  width: 220px; /* englobe icônes + donut */
  height: 150px; /* égal au header */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.donut-icons {
  position: absolute;
  top: 20%;
  left: 29%;
  transform: translate(-50%, -50%); /* ✅ CENTRE EXACT DU DONUT */
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 200;
}

.donut-icons a {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1rem;
  z-index: 200;
  text-decoration: none;
  border: solid 2px var(--whiterose);
}

/* MILIEU GAUCHE */
.donut-icons a:nth-child(1) {
  background: var(--green);
  transform: rotate(-70deg) translateY(80px) rotate(70deg);
}

/* DIAGONALE BAS GAUCHE */
.donut-icons a:nth-child(2) {
  background: var(--brown);
  transform: rotate(-23deg) translateY(90px) rotate(23deg);
}

/* DIAGONALE BAS DROITE */
.donut-icons a:nth-child(3) {
  background: var(--rose);
  transform: rotate(23deg) translateY(90px) rotate(-23deg);
}

/* MILIEU DROIT */
.donut-icons a:nth-child(4) {
  background: rgb(230, 148, 6);
  transform: rotate(70deg) translateY(80px) rotate(-70deg);
}

.donut-icons a:nth-child(1):hover {
  background: #2c5e1d;
}
.donut-icons a:nth-child(2):hover {
  background: #000000;
}
.donut-icons a:nth-child(3):hover {
  background: #750575;
}
.donut-icons a:nth-child(4):hover {
  background: #948b07;
}

/* DROITE */
.right {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  z-index: 1000;
  position: absolute;
  top: -38px;
  right: -220px;
}

.login {
  font-weight: bold;
  text-decoration: none;
  color: var(--whiterose);
}
.donut-hover-zone:hover .donut-icons {
  opacity: 1;
  pointer-events: auto;
}

.rose {
  color: var(--rose);
}

/* Burger caché par défaut */
.burger {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: var(--whiterose);
}

/* Menu mobile caché */
.mobile-menu {
  display: none;
  position: absolute;
  top: 70px; /* ajuste selon la hauteur du header */
  left: 0;
  width: 100%;
  background: white;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  z-index: 1000;
}

/* Responsive */
@media (max-width: 1183px) {
  header .nav {
    display: none;
  }

  .connect {
    width: 50%;
  }

  .burger {
    display: block;
  }
}

/* Responsive */
@media (max-width: 769px) {
  .donut-hover-zone {
    display: none;
  }

  .connect {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}
