:root{
    --mainfont :  "Modak", system-ui;
    --textfont :"Mada", sans-serif;
    --maincolor : #CBFFBF;
    --textcolor : #660505;
  
}

header{

    display: flex;
    background-color: var(--maincolor);
    margin: 0;
    font-family: var(--mainfont);
    height: 110px;
    font-size: 1.5rem;
    color: var(--textcolor);
    padding-left: 20px;
    padding-right: 20px;
}

.desk {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .desk ul{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0;
    padding: 0px;
    width: 100%;
    
}

header .desk ul{
    padding: 0px;
}
header li{

    list-style: none;
}

header .desk ul a{

    text-decoration: none;
    color: var(--textcolor);
}

header .desk ul a:hover{

    text-decoration: underline;
    
}




header .menubg{

    display: none;
}

header .phone{

    display: none;
}


@media (max-width: 1050px) {
header .desk {
    display: none;
}

header .phone{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 110px;
    right: 0px;
    
    z-index: 10;
    background-color: whitesmoke;
}

.phone ul{

    padding: 0px;
    text-align: center;

}


header .menubg{

    display: block;
    font-size: 3rem;
   
}
header{
align-items: center;
justify-content: right;}

.phone a{

    width: 100%;
    display: block;
    padding: 20px;
    color: var(--textcolor);
    text-decoration: none;
}

}




