:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --white: #f1f8f5;
  --whiterose: #faf4f0;
  --brown: #4e3626;
  --green: #089b65;
  --rose: #ff9298;
}

main {
  width: 80%;
  font-family: var(--textfont);
  margin: auto;
  margin-top: 20px;
}

section {
  margin-bottom: 10px;
}

main a {
  color: var(--green);
}

main li {
  margin: 0;
}

main a:hover {
  color: var(--rose);
}

h2 {
  color: var(--green);
}

h3 {
  margin: 0px;

  margin-top: 20px;
}

.footer-column {
  margin-bottom: 20px;
}

.footer-right,
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  display: inline-block;
}
