:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --white: #f1f8f5;
  --brown: #4e3626;
  --rose: #ff9298;
}

main {
  margin: 150px auto 30px auto;
  width: 85%;
  background-color: white;
  border: 2px solid #660505;
  border-radius: 50px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: var(--brown);
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

form img {
  width: 150px;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

input[type="text"],
input[type="password"],
textarea,
input[type="file"] {
  border: 2px solid #660505;
  border-radius: 300px;
  padding: 12px 15px;
  font-size: 1.2rem;
  width: 100%;
  font-family: var(--textfont);
}

textarea {
  height: 150px;
  resize: vertical;
  border-radius: 20px;
}
.allform {
  width: 60%;
}

.btn {
  width: fit-content;
  padding: 8px 16px;
  border: none;
  background-color: var(--rose);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e07275;
}

.msg {
  font-size: 0.9rem;
  color: green;
}

p.small {
  font-size: 0.9rem;
  color: #666;
}
