:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --white: #f1f8f5;
  --whiterose: #faf4f0;
  --brown: #4e3626;
  --green: #089b65;
  --rose: #ff9298;
}

.paniercontent {
  display: flex;
  flex-direction: column;
  margin-top: 150px;

  margin-bottom: 60px;
}
h1 {
  margin: auto;
  color: var(--brown);
}

.composition {
  position: relative;
  width: 150px;
  height: 150px;
}

.composition img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  flex-direction: row;
  text-align: left;
  width: 70%;
  justify-content: space-around;
  gap: 20px;
}

.card img {
  height: 100px;
}

.cart-item {
  transition: all ease 0.2s;
}

.cart-item:hover {
  transform: translateY(-5px);
}

.item-info {
  width: 50%;
}

.actions {
  display: flex;
  gap: 20px;
}

.qty-control {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: black;
}

.qty-control button {
  font-size: 1.4rem;
  background-color: white;
  border: none;
  color: black;
}

.qty-control button:hover {
  cursor: pointer;
}

.remove {
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 1.5rem;
  color: #660505;
}

.confirmpanier {
  margin-left: auto;
}

@media (max-width: 789px) {
  .card {
    flex-direction: column;
  }

  .card .item-info {
    width: 75%;
  }
}
