:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --maincolor: #cbffbf;
  --textcolor: #660505;
}

.infoprofil {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 50px;
}

.infoprofil img {
  height: 200px;
}

.infos {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  font-family: var(--mainfont);
  font-weight: 100;
  color: var(--textcolor);
}

.btnprofil {
  display: flex;
  gap: 20px;
}

.following {
  background-color: whitesmoke;
  color: var(--textcolor);
  border: var(--textcolor) 2px solid;
}

.subscribe-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
}

.liked {
  background-color: whitesmoke;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.liked-donuts-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
  justify-items: center;
}

.donut-card {
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  height: 110px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.donut-card img {
  max-height: 70%;
  border-radius: 8px;
}

.donut-card h3 {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .infoprofil {
    gap: 15px;
  }
  .infoprofil img {
    width: 90px;
    height: auto;
  }

  .infoprofil .right .infos,
  .btnprofil .btn,
  .infoprofil {
    font-size: 0.7rem;
  }

  .onlydesk {
    display: none;
  }

  .btnprofil .btn {
    padding: 5px;
  }
}
