:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --maincolor: #cbffbf;
  --textcolor: #660505;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--maincolor);
  font-family: var(--textfont);
}

h1,
h2 {
  font-family: var(--mainfont);
  color: var(--textcolor);
  font-weight: 400;
  margin: 0;
  font-size: 3rem;
}

p {
  margin: 0;
}

.creator {
  text-decoration: none;
  color: #660505;
}

.creator:hover {
  text-decoration: underline;
}

.welcome {
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  /* background-image: url('../images/design/donuts.webp');
    background-repeat: no-repeat;
    background-size: cover; */
}

.welcome .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--textfont);
  width: 90%;
  height: 90%;
  border: 2px solid var(--textcolor);
  border-radius: 26px;
  color: var(--textcolor);
}

.slogan {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.btncta {
  text-decoration: none;
  color: white;
  background-color: var(--textcolor);
  font-family: var(--mainfont);
  font-size: 1.5rem;
  padding: 8px 15px;
  border: 3px solid transparent; /* <-- ajoute ceci */
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.2s ease; /* optionnel mais propre */
  margin-bottom: 15px;
}

.btncta:hover,
.btn:hover {
  background-color: white;
  border-color: var(--textcolor); /* <-- change seulement la couleur */
  color: var(--textcolor);
  cursor: pointer;
}

.welcome .phrase_accroche {
  color: black;
  font-size: 1rem;
}

.welcome .content {
  padding: 30px;
}

.tendances {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: auto;
}

h3 {
  font-family: var(--mainfont);
  font-weight: 400;
  color: var(--textcolor);
  font-size: 2rem;
  margin: 5px;
}

.degouline {
  width: 100%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  align-items: stretch; /* étire les enfants */
  width: min(100%, 990px);
  margin: 0 auto;
}

.nosdonuts {
  background-color: whitesmoke;
}

.nosdonuts .card {
  border-color: var(--textcolor);
}

.card {
  background-color: white;

  border-radius: 15px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  position: relative;
}

.onecard-container {
  transition: 0.2s ease;
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.userdonuts {
  padding-bottom: 55px;
  border-radius: 13px 13px 0px 0px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.userdonuts:hover {
  cursor: pointer;
}

.onecard-container:hover,
.sweetplacedonuts:hover {
  transform: translateY(-5px);
}

.laterale-barre {
  position: absolute;
  bottom: 0px;
  width: 100%;

  height: 50px;
  background-color: var(--maincolor);
  display: flex;

  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.laterale-barre img {
  width: 40px;
  height: 100%;
  opacity: 0.8;
}

.laterale-barre .imgbig {
  object-fit: cover; /* remplit le cadre sans déformer */
  object-position: auto; /* zoom centré */
  transform: scale(4); /* facteur de zoom (augmente si besoin) */
  transform-origin: center;
  padding-right: 10px;
  padding-top: 3px;
}

.card .content,
.card .addcart,
.interaction {
  display: flex;
  flex-grow: 1; /* prend tout l’espace restant */
  align-items: center;
}

.interaction {
  justify-content: space-between;
  padding: 2px 12px 2px 12px;
  z-index: 22;
  background-color: whitesmoke;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 0px 0px 13px 13px;
}

.card .content .desc-donuts {
  width: 100%;
}

.card a {
  z-index: 20;
}

.addcart {
  gap: 25px;
}

i {
  font-size: 2rem;
  color: var(--textcolor);
}

i:hover {
  cursor: pointer;
}

.like {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nb_like {
  color: var(--textcolor);
}

.content img {
  width: 120px;
  z-index: 1;
}

.interaction a {
  z-index: 20;
}

.sweetplacedonuts {
  border: solid 2px var(--textcolor);
}
.sweetplacedonuts .content p {
  width: 60%;
  text-align: left;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: var(--textcolor);
  font-size: 1rem;
  padding: 8px 15px;
  border: 3px solid transparent; /* <-- ajoute ceci */
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.2s ease; /* optionnel mais propre */
  margin-bottom: 15px;
}

@media (max-width: 789px) {
  .onlydesk {
    display: none;
  }

  h1 {
    text-align: center;
  }
}

@media (min-width: 789px) {
  .onlyphone {
    display: none;
  }
}
