:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --white: #f1f8f5;
  --whiterose: #faf4f0;
  --brown: #4e3626;
  --green: #089b65;
  --rose: #ff9298;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--whiterose);
  font-family: var(--textfont);
}
h1 {
  text-align: center;
}

h1,
h2 {
  font-family: var(--textfont);
  color: var(--whiterose);
  font-weight: 800;
  margin: 0;
  font-size: 3rem;
}

h2 {
  color: #4e3626;
  font-weight: 400;
}

p {
  margin: 0;
}

.creator {
  text-decoration: none;
  color: var(--textcolor);
}

.creator:hover {
  text-decoration: underline;
}

.welcome {
  width: 100%;
  height: 280px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* 🔴 essentiel */
  overflow: hidden; /* 🔴 empêche tout débordement */
  background-image: url("../images/design/donutsetbagel.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome::before {
  content: "";
  position: absolute;
  height: auto;

  inset: 0;
  background: rgba(0, 0, 0, 0.35); /* intensité du film noir */
  z-index: 0;
}

.welcome .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--textfont);
  width: 90%;
  height: 60%;
  color: var(--whiterose);
  z-index: 2;
  margin-top: 90px;
}

.slogan {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.btncta {
  text-decoration: none;
  color: white;
  background-color: var(--green);

  font-family: var(--textfont);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 8px 15px;
  border: 3px solid transparent; /* <-- ajoute ceci */
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.2s ease; /* optionnel mais propre */
  margin-bottom: 15px;
}

.btncta:hover,
.btn:hover {
  background-color: var(--rose);
  color: var(--white);
  cursor: pointer;
}

.welcome .phrase_accroche {
  color: black;
  font-size: 1rem;
}

.welcome .content {
  padding: 30px;
}

.tendances {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.green {
  color: var(--green);
}
h2 {
  margin: auto;
}
h3 {
  font-family: var(--textfont);
  font-weight: 400;
  color: var(--textcolor);
  font-size: 2rem;
  margin: 5px;
}

.presentation-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  padding: 20px;
  padding-block: 60px;
}

.concept {
  width: 60%;
}

#toast-panier {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #ff6fa5;
  color: #fff;
  padding: 14px 22px;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: slideUp 0.4s ease, fadeOut 0.4s ease 2.6s forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.filter-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1px;
  margin-top: 50px;
  gap: 10px;
}

.filter-container > div {
  display: flex;
  gap: 10px;
}

.filter-container > div select {
  background-color: var(--rose);
  padding: 10px;
  padding-inline: 20px;
  border: none;
  border-radius: 0px;
  color: var(--whiterose);
}

.filter-buttons > *:hover {
  background-color: var(--green);
  cursor: pointer;
}

.presentation-container h2 {
  font-size: 2.2rem;
  margin-bottom: 30px;
}

.presentation-container p {
  font-size: 1.3rem;
  margin-bottom: 50px;
}

.presentation-container img {
  width: 30%;
  border-radius: 30px;
}
.note {
  background-color: var(--brown);
  border-radius: 20px;
  color: var(--whiterose);
  padding: 10px;
}

.cards-container {
  border-top: var(--rose) 2px solid;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  gap: 40px;
  align-items: stretch; /* étire les enfants */
  width: min(100%, 1290px);
  margin: 0 auto;
  padding: 20px;
}

.cards-container.single-item {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.cards-container.single-item > .onecard-container {
  grid-column: 1 / 2;
  width: 100%;
}

.card {
  background-color: white;

  border-radius: 15px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  position: relative;
}

.cta-usercommu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cta-usercommu a {
  display: inline-block;
  color: var(--green);
  font-size: 6rem;
  transition: transform 0.3s ease; /* mieux que transition: all */
}

.cta-usercommu a:hover {
  transform: scale(1.2); /* +3% */
}
.onecard-container {
  transition: 0.2s ease;
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.userdonuts,
.sweetplacedonuts {
  border-radius: 13px 13px 0px 0px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.userdonuts:hover,
.sweetplacedonuts:hover {
  cursor: pointer;
}

.prix {
  color: var(--brown);
  font-size: 1.4rem;
  font-weight: 600;
}

.useraddcart {
  background-color: var(--green);
  border-radius: 35px;
  padding: 7px 15px;
  color: var(--whiterose);
  text-decoration: none;
  width: fit-content;
}
.useraddcart:hover {
  background-color: rgb(85, 128, 85);
}
.onecard-container:hover {
  transform: translateY(-5px);
}

.card .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.top div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card .content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.card .img-container,
.card .info {
  height: 100px;
}

.img-container {
  position: relative;
  width: 35%;
}
.img-container img {
  position: absolute;
  top: 0px;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.info {
  display: flex;
  flex-wrap: wrap; /* permet aux éléments de passer à la ligne si besoin */
  align-items: center;
  justify-content: center;
  gap: 5px; /* espace entre les ingrédients */
}

.info p {
  background-color: var(--whiterose);
  border: var(--rose) 1px solid;
  padding: 10px;
  border-radius: 20px;
  font-weight: 800;
  white-space: nowrap; /* empêche le texte de revenir à la ligne à l'intérieur du p */
  min-width: 80px; /* largeur minimale du p */
  max-width: 150px; /* largeur max avant de passer à la ligne suivante */
  overflow: hidden;
  text-overflow: ellipsis; /* met "..." si le texte est trop long */
  text-align: center;
}

.top .top-right {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.desparagraphe {
  text-align: left;
}

.brown {
  color: var(--brown);
}

.rienpourlemoment {
  margin: auto;
  margin-top: 20px;
}

.card .addcart,
.interaction {
  display: flex;
  flex-grow: 1; /* prend tout l’espace restant */
  align-items: center;
}

.interaction {
  justify-content: space-between;
  padding: 8px 20px 8px 20px;
  z-index: 22;
  background-color: var(--whiterose);
  border-top: var(--rose) solid 2px;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 0px 0px 13px 13px;
}

.card a {
  z-index: 20;
}

.addcart {
  gap: 25px;
}

.int-left {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 75%;
}

.addcart i,
.int-left i {
  font-size: 2rem;
  color: #660505;
}

.like i {
  font-size: 2rem;
  color: var(--rose);
}

.like i:hover {
  cursor: pointer;
}

.like {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nb_like {
  color: var(--textcolor);
}

.interaction a {
  z-index: 20;
}

.mt-30 {
  margin-top: 30px;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: var(--green);
  font-size: 1rem;
  padding: 8px 15px;
  border: 3px solid transparent; /* <-- ajoute ceci */
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.2s ease; /* optionnel mais propre */
  margin-bottom: 15px;
}

.modifcompo {
  padding: 8px 15px;
  background-color: var(--whiterose);
  color: var(--brown);
  border: 1px solid var(--brown);
  border-radius: 20px;
  text-decoration: none;
}

.modifcompo:hover {
  background-color: var(--brown);
  color: var(--whiterose);
}

.logodesign {
  color: var(--brown) !important;
}

.logodesign2 {
  color: var(--whiterose) !important;
  font-size: 1.2rem !important;
}

.tendances .ctasweetplace {
  margin: auto;
}

.password-field {
  position: relative;
  display: flex;
  width: 60%;
}

.password-field input {
  width: 100%;
  padding-right: 60px;
}

.password-field i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  color: #777;
}

.password-field i:hover {
  color: #000;
}

@media (max-width: 789px) {
  .onlydesk {
    display: none;
  }

  h1 {
    text-align: center;
  }

  .welcome {
    text-align: center;
  }
}

@media (min-width: 789px) {
  .onlyphone {
    display: none;
  }
}
@media (max-width: 320px) {
  .tendances {
    padding-inline: 5px;
  }

  .start {
    font-size: 0.9rem;
    margin: auto;
    padding-inline: 5px;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 1.3rem;
  }

  .slogan {
    font-size: 0.95rem;
  }
}

@media (max-width: 426px) {
  .content .info p {
    font-size: 0.7rem;
  }

  .cta-usercommu h3 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (max-width: 1122px) {
  .presentation-container img {
    display: none;
  }

  .presentation-container .concept {
    width: 100%;
  }

  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .filter-container div {
    justify-content: center;
  }

  .filter-container select {
    width: 30%;
  }
}

@media (max-width: 1303px) {
  .presentation-container img {
    display: none;
  }
}

.sweetplacedonuts .content {
  gap: 20px;
}

.sweetplacedonuts .content .desparagraphe {
  width: 60%;
}

@media (max-width: 511px) {
  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    padding-inline: 0px;
  }
}
