:root {
  --mainfont: "Modak", system-ui;
  --textfont: "Mada", sans-serif;
  --white: #f1f8f5;
  --whiterose: #faf4f0;
  --brown: #4e3626;
  --green: #089b65;
  --rose: #ff9298;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: var(--textfont);
}

h1,
h2 {
  font-family: var(--textfont);
  color: var(--whiterose);
  font-weight: 800;
  margin: 0;
  font-size: 3rem;
}

h2 {
  color: #4e3626;
  font-weight: 400;
}

p {
  margin: 0;
}

.creator {
  text-decoration: none;
  color: var(--textcolor);
}

.creator:hover {
  text-decoration: underline;
}

.welcome {
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* 🔴 essentiel */
  overflow: hidden; /* 🔴 empêche tout débordement */
  background-image: url("../images/design/donutsetbagel.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome::before {
  content: "";
  position: absolute;
  height: auto;

  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* intensité du film noir */
  z-index: 0;
}

.welcome .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--textfont);
  width: 90%;
  height: 90%;
  color: var(--whiterose);
  z-index: 2;
}

.slogan {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.btncta {
  text-decoration: none;
  color: white;
  background-color: var(--green);
  letter-spacing: 1px;
  font-family: var(--mainfont);
  font-weight: 100;
  font-size: 1.5rem;
  padding: 8px 15px;
  border: 3px solid transparent; /* <-- ajoute ceci */
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.2s ease; /* optionnel mais propre */
  margin-bottom: 15px;
}

.btncta:hover,
.btn:hover {
  background-color: var(--rose);
  color: var(--white);
  cursor: pointer;
}

.welcome .phrase_accroche {
  color: black;
  font-size: 1rem;
}

.welcome .content {
  padding: 30px;
}

.tendances {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.green {
  color: var(--green);
}
h2 {
  margin: auto;
}
h3 {
  font-family: var(--textfont);
  font-weight: 400;
  color: var(--textcolor);
  font-size: 2rem;
  margin: 5px;
}

.degouline {
  width: 100%;
}

.note {
  background-color: var(--brown);
  border-radius: 20px;
  color: var(--whiterose);
  padding: 10px;
}

.cards-container {
  border-top: var(--rose) 2px solid;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px;
  align-items: stretch; /* étire les enfants */
  width: min(100%, 990px);
  margin: 0 auto;
  padding: 20px;
}

.cards-container.single-item {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.cards-container.single-item > .onecard-container {
  grid-column: 1 / 2;
  width: 100%;
}

.card {
  background-color: white;

  border-radius: 15px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
  position: relative;
}

.onecard-container {
  transition: 0.2s ease;
  text-align: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.userdonuts,
.sweetplacedonuts {
  border-radius: 13px 13px 0px 0px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.userdonuts:hover,
.sweetplacedonuts:hover {
  cursor: pointer;
}

.prix {
  color: var(--rose);
  font-size: 1.4rem;
  font-weight: 600;
}

.onecard-container:hover {
  transform: translateY(-5px);
}

.card .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.top div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card .content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.card .img-container,
.card .info {
  height: 100px;
}

.img-container {
  position: relative;
  width: 35%;
}
.card .img-container img {
  position: absolute;
  top: 0px;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.card .info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 65%;
}
.content .info p {
  background-color: var(--whiterose);
  border: var(--rose) 1px solid;
  padding: 10px;
  border-radius: 20px;
  font-weight: 800;
}

.card img {
  width: 150px;
}

.brown {
  color: var(--brown);
}

.rienpourlemoment {
  margin: auto;
  margin-top: 20px;
}

.card .addcart,
.interaction {
  display: flex;
  flex-grow: 1; /* prend tout l’espace restant */
  align-items: center;
}

.interaction {
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
  z-index: 22;
  background-color: whitesmoke;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 0px 0px 13px 13px;
}

.card a {
  z-index: 20;
}

.addcart {
  gap: 25px;
}

.int-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.addcart i,
.int-left i {
  font-size: 2rem;
  color: #660505;
}

.like i {
  font-size: 2rem;
  color: var(--textcolor);
}

.like i:hover {
  cursor: pointer;
}

.like {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nb_like {
  color: var(--textcolor);
}

.interaction a {
  z-index: 20;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: var(--green);
  font-size: 1rem;
  padding: 8px 15px;
  border: 3px solid transparent; /* <-- ajoute ceci */
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.2s ease; /* optionnel mais propre */
  margin-bottom: 15px;
}

@media (max-width: 789px) {
  .onlydesk {
    display: none;
  }

  h1 {
    text-align: center;
  }

  .welcome {
    text-align: center;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .content .info p {
    font-size: 0.7rem;
  }
}

@media (min-width: 789px) {
  .onlyphone {
    display: none;
  }
}
